body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: "Nunito Light";
}

h3 {
  font-family: "Nunito ExtraLight";
}

.bold {
  font-family: "Nunito ExtraLight";
}

.App {
  background: #fff;
  max-width: 1440px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Nunito Light';
  src: local('Nunito'), url(./assets/fonts/Nunito-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito Regular';
  src: local('Nunito'), url(./assets/fonts/Nunito-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito ExtraLight';
  src: local('Nunito'), url(./assets/fonts/Nunito-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito SemiBold';
  src: local('Nunito'), url(./assets/fonts/Nunito-SemiBold.ttf) format('truetype');
}